{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Pitching Video Upload
{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{url_for('.static', filename='styles/starter-template.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='styles/pitch_style.css')}}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="container">
      <div class="starter-template">
          <h1 class="alert alert-info">Labeling Images</h1>
          
          {% if upload %}
            <video id="video" controls autoplay loop>
                <source src="/static/upload/{{ filename }}" type="video/mp4">
            </video>
          {% else %}
            <img src="/static/images/labeling.JPG" id="canvas">
          {% endif %} 

          <form method="post" action="/labeling" enctype="multipart/form-data">
              <br>
              <button type="submit" class="btn btn-info">Label Images</button>
          </form>
      </div>
    </div>
    <script src="{{url_for('.static', filename='javascript/pitch.js')}}"></script>
{% endblock %}