#canvas{
    border-radius: .2em;
    width: 99%;
}

#video{
    border-radius: .2em;
    width: 99%;
}

.btn{
    width: 99%;
    padding: 15px;
    margin: 0 0 10px;
}

.alert{
    width: 99%;
    margin: 20px auto;
}

.control-label {
    display: none;
}

form {
    text-align: center;
}

.file_upload {
    padding: 20px;
    border: 2px solid black;
    border-radius: .2em;
    width: 99%;
    text-align: center;
    margin: 20px auto 0;
    font-weight: bolder;
}

.file_upload::file-selector-button{
    text-align: center;
    color: white;
    width: 20%;
    border: 2px solid #5BC0DE;
    padding: 15px;
    border-radius: .2em;
    background-color: #5BC0DE;
}

